<div class="container">
  <form class="form-horizontal">
    <label>Name :</label>
    <input type="text" name="name" [(ngModel)]="name" class="form-control">
    <label>Email :</label>
    <input type="text" name="email" [(ngModel)]="email" class="form-control">
    <label>Password :</label>
    <input type="text" name="password" [(ngModel)]="password" class="form-control">
    <button class="btn btn-default" (click)="register()">Login</button>
  </form>
</div> 