<div class="container">
  <form class="form-horizontal">
    <label>Email :</label>
    <input type="text" name="email" [(ngModel)]="email" class="form-control">
    <label>Password :</label>
    <input type="text" name="password" [(ngModel)]="password" class="form-control">
    <button type="button" class="btn btn-default" (click)="login()">Login</button>
  </form>
</div> 