<div class="container">
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let u of userlist; let i = index">
      <td>{{u.id}}</td>
      <td>{{u.name}}</td>
      <td>{{u.email}}</td>
    </tr>
  </table>  
</div>
